body {
    background-color: antiquewhite;
}


/* Header */

header {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 1000;
    font-size: 60px;
    padding: 0px;
    margin: 0px;
    color: navy;
}

.repeatingTextScroller {
    white-space: nowrap;
    overflow: hidden;
}


/* Section Content */

h2 {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: navy;
}

.parent {
    display: grid;
    grid-template-rows: 4;
    grid-row-gap: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}

section>div {
    border: 2px solid navy;
    color: navy;
}

.toggleDrop {
    display: none;
    transition: all;
}

.active {
    display: block;
}


/* Bottom Nav */

.nav {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
    position: sticky;
}

footer>div {
    text-align: center;
    padding: 15px;
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: navy;
    transition: all .2s ease-out;
}

footer>div:hover {
    cursor: pointer;
    transform: scale(1.2);
    opacity: .5;
}

p {
    list-style-type: none;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

@media only screen and (max-width:600px) {
    /* Header */
    header {
        font-size: 48px;
    }
    /* Section Content */
    h2 {
        font-size: 28px;
    }
    .parent {
        width: auto;
    }
    /* Bottom Nav */
    .nav {
        display: flex;
        width: auto;
        flex-direction: column;
        height: auto;
        border-top: 2px solid navy;
        border-bottom: 2px solid navy;
    }
}