/* General Styles */

body {
    background-color: antiquewhite;
}

header {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 1000;
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    color: navy;
}

h2 {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: navy;
}

p {
    list-style-type: none;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

button {
    display: flex;
    justify-content: center;
}

.headline {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 1000;
    font-size: 60px;
    padding: 0px;
    margin: 0px;
    color: navy;
}


/* Title */

.title {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 1000;
    font-size: 95px;
    padding: 0px;
    margin: 0px;
    color: navy;
}

.repeatingTextScroller {
    white-space: nowrap;
    overflow: hidden;
}


/* Nav */

nav {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
}

nav>a {
    text-align: center;
    padding: 15px;
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: navy;
    text-decoration: none;
    transition: all .2s ease-out;
}

nav>a:hover {
    cursor: pointer;
    transform: scale(1.2);
    opacity: .5;
}


/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky+.content {
    padding-top: 60px;
} */


/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


/* SKILLS */

.skillsParent {
    display: grid;
    grid-template-rows: 4;
    grid-row-gap: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}

section>div {
    border: 2px solid navy;
    color: navy;
    transition: all .2s ease-out;
}

.toggleDrop {
    display: none;
    transition: all;
}

.active {
    display: block;
}


/* PROJECTS */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.hover:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: .5;
}

.div1 {
    grid-area: 1 / 1 / 5 / 2;
    background-image: url(../images/DOL_Redesign_Mobile_1.png);
}

.div2 {
    grid-area: 1 / 2 / 3 / 3;
    background-image: url(../images/DOL_Redesign_Desktop_1.png);
}

.div3 {
    grid-area: 3 / 2 / 5 / 3;
    background-image: url(../images/SDZOO_Redesign_Mobile.png);
}

.div1,
.div2,
.div3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

@media only screen and (max-width:600px) {
    /* Header */
    header {
        font-size: 48px;
    }
    /* Section Content */
    h2 {
        font-size: 28px;
    }
    .skillsParent {
        width: auto;
    }
    .parent {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 800px;
    }
    .hover {
        width: auto;
        height: 800px;
    }
    /* Bottom Nav */
    nav {
        display: flex;
        width: auto;
        flex-direction: column;
        height: auto;
        border-top: 2px solid navy;
        border-bottom: 2px solid navy;
    }
}